html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-size: 11pt;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
}

body *{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.3em;
    margin: 0.25em 1em;
    width: 100%;
    display: block;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

input {
    margin: 5px;
    font-size: 0.9em;
}

pre, code{
    white-space: pre-line;
    font-family: 'Courier New', Courier, monospace;
}

section {
    padding: 5px;
}

:root {
    --main-color:#166971;
    --sec-color: #1B1B1E;
    --link-color:#A30015;
    --light-color: #EDE7E3;
}

input[type=file] {
    display: none;
}

form input[type=submit] {
    width: 8em;
    height: 2.5em;
    line-height: 2.5em;
    background-color: var(--sec-color);
    color: var(--light-color);
    border: 0px;
    font-weight: bold;
    cursor: pointer;
}

form input[type=submit]:hover {
    background-color: var(--link-color);
}

article#main {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 1em;
}

section.main-container {
    width: 50%;
    display: block;
    box-sizing: border-box;
}

/* form.file-upload {
    width: 100%;
} */

label.file-upload {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 25em;
    max-width: 100%;
    border: 1px solid #ccc;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0em 2em;
    box-sizing: border-box;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 5px;
    color: #555;
}

label.file-upload:hover {
    color: #111;
}

textarea.upload-text {
    font-size: 1em;
}

div#parse-output-container {
    width: 100%;
    display: block;
    float: left;
    padding: 5px;
    font-size: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    height: 100%;
    max-height: 400px;
    overflow-y: scroll;
    min-height: 1.5em;
    margin: 1.5em 0px;
}

div#error-output-container {
    color: red;
    padding: 1.5em 0px;
    font-size: 1.25em;
    font-weight: bold;
}

div#parse-output-container code {
    width: 100%;
    height: 40%;
    font-size: 1.1em;
    max-height: 50%;
    line-height: 1.2em;
    text-indent: 0;
}

section.upload {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

div.bib-upload-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

div.bib-upload-container label {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

label.checkbox-container {
    margin: 0em 1.5em;
}

div.bib-upload-container span {
    margin: auto;
}

form.file-upload {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

label.file-desc {
    width: 20%;
}

section.upload-container {
    width: 100%;
    display: block;
}

section.upload-container textarea {
    width: 100%;
    height: 20em;
    max-height: 500px;
    max-width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.1em;
}

h2 {
    font-size: 1.1em;
    margin: 0.25em;
    width: 100%;
    display: block;
}

section.parse-options {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: center;
}

form#parse-options label {
    padding: 0em 1em;
    line-height: 1.2em;
}

form#parse-options input[type="checkbox"] {
    display: block;
    height: 1.2em;
    width: 1.2em;
}


@media screen and (max-width: 1200px) {
	label.file-upload {
		width: 100%;
	}
    label.file-desc {
        width: 100%;
    }
}

section.template-helper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.template-helper h2 {
    width: 100%;
    font-size: 1.1em;
}

.template-helper code {
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.1em;
}

p.template-tag-desc {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    padding: 0.25em 0.75em;
    margin: 0;
}

p.template-tag-desc span {
    width: 100%;
    text-align: left;
}

span.template-tag {
    width: 100%;
    display: block;
}

.template-tag code{
    color: var(--link-color);
}

@media screen and (max-width: 900px) {
	section.main-container {
		width: 100%;
	}
}
