html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-size: 12pt;
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
}

body *{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.4em;
}

form {
    max-width: 400px;
    display: block;
    margin: 5px;
}

input {
    margin: 5px;
    max-width: 400px;
    font-size: 0.9em;
}

pre, code{
    white-space: pre-line;
    font-family: 'Courier New', Courier, monospace;
}

section {
    padding: 5px;
}

:root {
    --main-color:#166971;
    --sec-color: #1B1B1E;
    --link-color:#A30015;
    --light-color: #EDE7E3;
}