.input-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    height: 50vh;
}

.input-container textarea {
    width: 100%;
    height: 20em;
    max-height: 500px;
    max-width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.1em;
}


.input-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    padding: 0em 2em;
    box-sizing: border-box;
    justify-content: space-between;
}

.input-header span {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 40%;
}

.record-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    box-sizing: border-box;
    margin: 1em 0em;
    padding: 0em 1em;
    overflow-y: scroll;
}

.record {
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 1.25em;
    margin: 0.25em 1em;
    padding: 0;
}

.record-header-container {
    display: grid;
    grid-template-columns: 90% 10%;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    grid-template-rows: auto;
    justify-content: start;
    align-items: start;
}

.record-header-container button {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 0 1.25em 1.25em 0;
    background-color: #909090;
    cursor: pointer;
}

.record-header-container button:hover {
    background-color: #707070;
}

.record-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    padding: 0.5em 1em;
    box-sizing: border-box;
}

.record .title {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0.25em 0em;
}

.record .subtitle {
    font-size: 1em;
    font-weight: bold;
    margin: 0em 0em;
}

.record code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.1em;
    margin: 1em;
    white-space: pre-wrap;
}

.record .author-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.record .author {
    min-width: 2em;
    padding: 0.25em 0.5em;
    padding-left: 0px;
}