section.template-helper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.template-helper h2 {
    width: 100%;
    font-size: 1.1em;
}

.template-helper code {
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.1em;
}

p.template-tag-desc {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    padding: 0.25em 0.75em;
    margin: 0;
}

p.template-tag-desc span {
    width: 100%;
    text-align: left;
}

span.template-tag {
    width: 100%;
    display: block;
}

.template-tag code{
    color: var(--link-color);
}