section#template-tester {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

section#template-tester h1 {
    width: 100%; 
    display: block;
}

section#template-test-form {
    width: 55%;
    display: block;
    float: left;
}

form#template-test {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0px;
    box-sizing: border-box;
}

#template-test label {
    width: 100%;
    display: block;
}

#template-test textarea {
    max-width: 1200px;
    width: 100%;
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
    margin: 2px;
    box-sizing: border-box;
}

div#template-output-container {
    width: 100%;
    max-width: 1200px;
    display: block;
    float: left;
    padding: 5px;
    font-size: 0.8em;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
    min-height: 200px;
    max-height: 800px;
    overflow-y: scroll;
    margin: 2px;
}

div#template-output-container h2{
    margin: 2px;
    font-size: 1.1em;
}

section.template-helper {
    width: 44%;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.template-helper h2 {
    width: 100%;
    font-size: 1.1em;
}

.template-helper code {
    font-size: 1em; 
    color: var(--main-color);
    font-weight: bold;
}

p.template-tag-desc {
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 2px 5px;
}

p.template-tag-desc span {
    margin: 2px 15px;
    width: 100%;
    text-align: left;
}

span.template-tag {
    width: 100%;
    display: block;
}

.template-tag code{
    color: var(--link-color);
}