@import "./global.css";

h1 {
    @apply container block font-bold text-xl mx-2 my-4 text-center;
}

form {
    @apply flex flex-wrap m-2;
    /* display: flex;
    flex-wrap: wrap;
    margin: 5px; */
}

input {
    @apply m-2 text-sm;
    /* margin: 5px;
    font-size: 0.9em; */
}

pre, code{
    white-space: pre-line;
    font-family: 'Courier New', Courier, monospace;
}

section {
    @apply p-2;
    /* padding: 5px; */
}


input[type=file] {
    display: none;
}

form input[type=submit], button {
    @apply bg-secondary text-white w-28 h-10 font-bold cursor-pointer;
}

form input[type=submit]:hover, button:hover {
    @apply bg-tertiary;
}

article#main {
    @apply flex flex-wrap m-auto box-border justify-between content-start items-start w-full p-0;
}

section.main-container {
    @apply lg:w-1/2 w-full block box-border p-0;
}

form.file-upload {
    @apply w-full grid grid-cols-4 items-center mx-0;
}

label.file-upload {
    @apply col-span-2 flex justify-center items-center w-full border border-gray-500 h-10 rounded-sm cursor-pointer text-gray-500;
}

label.file-upload:hover {
    color: #111;
}

textarea.upload-text {
    font-size: 1em;
}

div#parse-output-container {
    @apply w-full block border border-black rounded-md p-2 h-full overflow-y-scroll min-h-5 mx-2;
    /* width: 100%;
    display: block;
    float: left;
    padding: 5px;
    font-size: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    height: 100%;
    max-height: 400px;
    overflow-y: scroll;
    min-height: 1.5em;
    margin: 1.5em 0px; */
}

div#error-output-container {
    @apply text-red-500 font-bold;
    /* color: red;
    padding: 1.5em 0px;
    font-size: 1.25em;
    font-weight: bold; */
}

div#parse-output-container code {
    @apply w-full h-2/5 min-h-0.5;
    /* width: 100%;
    height: 40%;
    font-size: 1.1em;
    max-height: 50%;
    line-height: 1.2em;
    text-indent: 0; */
}

div.upload-container {
    @apply w-full flex justify-start items-center px-0;
}

div.upload-container label {
    @apply flex flex-nowrap justify-center items-center;
}

label.checkbox-container {
    margin: 0em 1.5em;
}

div.bib-upload-container span {
    margin: auto;
}

/* form.file-upload {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
} */


h2 {
    @apply h-full block text-base font-bold;
}

section.template-helper {
    @apply flex flex-wrap justify-start items-start;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; */
}

.template-helper h2 {
    @apply w-full text-base;
}

.template-helper code {
    @apply text-primary font-bold text-lg;
}

p.template-tag-desc {
    @apply w-1/2 flex flex-wrap justify-start items-start p-1 m-0;
    /* display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    padding: 0.25em 0.75em;
    margin: 0; */
}

p.template-tag-desc span {
    @apply w-full text-left;
    /* width: 100%;
    text-align: left; */
}

span.template-tag {
    @apply w-full block;
    /* width: 100%;
    display: block; */
}

.template-tag code{
    @apply text-tertiary;
    /* color: var(--link-color); */
}