<!DOCTYPE html>
<html lang='en'>

    <head>
        <title>BibTex parser</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/records.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/dist/bundle.js') }}" defer></script>
        <meta name="author" content="Ramanakumar Sankar">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>

    <body>
        <div id="root"></div>
    </body>
</html>
